[submodule "vendor/zconpty"]
	path = vendor/zconpty
	url = https://github.com/arc-source-coder/zconpty/
[submodule "vendor/zed"]
	path = vendor/zed
	url = https://github.com/arc-source-coder/zed/
[submodule "zig/ghostty"]
	path = zig/ghostty
	url = https://github.com/ghostty-org/ghostty/
