[submodule "vendor/zed"]
	path = vendor/zed
	url = https://github.com/arc-source-coder/zed/
[submodule "crates/ghostty-vt/zig/ghostty"]
	path = crates/ghostty-vt/zig/ghostty
	url = https://github.com/ghostty-org/ghostty/
